.card {
  width: 250px;
  padding: 20px;
  margin: 20px;
  background: linear-gradient(123deg, rgb(77, 175, 210),rgb(81, 80, 84));
  background-color: rgb(180, 180, 205);
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-bottom: 10px;
  color: black;
}

.card p {
  margin: 5px 0;
  color: black;
}